*, *:before, *:after {
    margin: 0;
    padding: 0;
}

html {
    font: 13px/1.5 Arial, sans-serif;
}

body {
    max-width: 90rem;
    margin: 4rem auto;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8em;
}

header p {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
}

header nav ul {
    display: flex;
}

header nav li {
    list-style: none;
    padding: 0 1rem;
}

h1 {
    padding-top: 1em;
}

main p {
    padding-top: 1em;
}