* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.container {
    max-width: 50rem;
    display: flex;
    flex-wrap: wrap;
    margin: 3em auto;
}

section {
    display: flex;
    flex-wrap: wrap;
}

span {
    border: 3px solid black;
    flex-grow: 1;
    text-align: center;
}

.week span {
    padding: 2em 0 5em 0;
}

.notes span {
    padding-top: 0.5em;
}

.label {
    width: 100%;
}

.notes {
    flex-direction: column;
    flex-grow: 2;
}